
.header .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__nav ul{
    display: flex;
    list-style: none;
    /* gap:2rem; */

}

.header .header__nav ul li{
    margin: 0 2rem;
    /* background: blue; */
}

.header{
    background: #2b2b2b;
}

.header .branding h4{
    color: #ffff;
}

.header .header__nav{
    display: flex
}
.header .burgen__btn{
    display: none;
    /* display: flex;
    flex-direction: column;
    gap: 0.3rem; */
}

.header .burgen__btn span{
    width:2.5rem;
    height:.2rem;
    background-color: #ffffff;
    display: block;
}

@media screen and (max-width: 960px){
    .header{
        background: green;
    }
}

@media screen and (max-width: 768px){
    .header{
        background: #fd0101;
    }
}


@media screen and (max-width: 500px){
    .header{
        background: #ffa700;
    }
    .header .header__nav{
        display: none;
    }
    .header .burgen__btn{
        display: flex;
    flex-direction: column;
    gap: 0.3rem;
    }

}